<nav class="navbar navbar-top navbar-expand-md navbar-dark mobile-padding" id="navbar-main">
    <div class="container-fluid">

        <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/categories']">
            <img src="./assets/img/brand/logoo.png" class="navbar-brand-img" alt="...">
        </a>

        <ul  class="navbar-nav nav-outer-ul align-items-center d-md-flex show-in-mobile">
            <li class="nav-item" ngbDropdown placement="bottom-right">

                <div class="media align-items-center color-black" >

                    <div class="media-body ml-2 d-lg-block" *ngIf="authenticationService.loggedIn()">
                        <a class="navbar-brand pt-0  color-white" routerLinkActive="active"
                           [routerLink]="['/feedback']">
                            More Product Details
                        </a>
                    </div>

                    <div class="media-body ml-2 d-lg-block" *ngIf="authenticationService.loggedIn()">
                        <a routerLinkActive="active" [routerLink]="['/cart']"
                           class="mb-0 text-sm  font-weight-bold color-white">
                            <i style="margin: auto!important;" class="ni ni-cart bigger-icon"></i>
                        </a>
                    </div>


                    <div class="media-body ml-2 d-lg-block" *ngIf="!authenticationService.loggedIn()">
                        <a class="navbar-brand pt-0  color-white" routerLinkActive="active"
                           [routerLink]="['/customer_Login']">
                            Sign In
                        </a>
                    </div>


                </div>
            </li>
        </ul>


        <ul class="navbar-nav align-items-center d-none d-md-flex" *ngIf="authenticationService.loggedIn()">
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                    <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle icon-border">
              <img alt="Image placeholder" src="assets/img/theme/user.png">
            </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{userFullName}}</span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <a routerLinkActive="active" [routerLink]="['/my-orders']" class="dropdown-item">
                        <i class="ni ni-box-2"></i>
                        <span >My Orders</span>
                    </a>
                    <div class="dropdown-divider"></div>

                    <a routerLinkActive="active" (click)="onLogOut()" style="cursor: pointer!important;" class="dropdown-item" >
                        <i class="ni ni-user-run"></i>
                        <span >Logout</span>
                    </a>
                </div>
            </li>
        </ul>

    </div>
</nav>
