<nav class="navbar navbar-top navbar-expand-md navbar-dark mobile-padding" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <!--    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active" [routerLink]="['/']">{{getTitle()}}</a>-->
        <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/categories']">
            <img src="./assets/img/brand/logoo.png" class="navbar-brand-img" alt="...">
        </a>
        <!-- Form -->
        <!--    Search bar-->
        <!--    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">-->
        <!--      <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">-->
        <!--        <div class="input-group input-group-alternative">-->
        <!--          <div class="input-group-prepend">-->
        <!--            <span class="input-group-text"><i class="fas fa-search"></i></span>-->
        <!--          </div>-->
        <!--          <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"-->
        <!--          (blur)="focus = false">-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </form>-->
        <!-- User -->
        <ul style="display: flex !important;" class="navbar-nav align-items-center d-md-flex show-in-mobile">
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <div class="media align-items-center color-black">
                    <div class="media-body ml-2 d-lg-block">
                        <a class="navbar-brand pt-0  color-white" routerLinkActive="active"
                           [routerLink]="['/feedback']">
                            More Product Details
                        </a>
                    </div>
                    <div class="media-body ml-2 d-lg-block">
                        <a routerLinkActive="active" [routerLink]="['/cart']"
                           class="mb-0 text-sm  font-weight-bold color-white">
                            <i class="ni ni-cart bigger-icon"></i>
                        </a>
                    </div>
                    <div class="media-body ml-2 d-lg-block">
                        <a routerLinkActive="active" [routerLink]="['/customer_Login']"
                           class="mb-0 text-sm  font-weight-bold color-white">
                            <i class="ni ni-single-02 bigger-icon"></i>
                            <!--                                <span>Login</span>-->
                        </a>
                        <!--                            <a  routerLinkActive="active" [routerLink]="['/user-profile']" class="mb-0 text-sm  font-weight-bold color-white">-->
                        <!--                                <i class="ni ni-single-02 bigger-icon"></i>-->
                        <!--&lt;!&ndash;                                <span>Login</span>&ndash;&gt;-->
                        <!--                            </a>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
