
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="container padding-bottom-3x mb-2">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="card mt-4">
                        <div class="note">
                            <p>Reset Password</p>
                        </div>
                        <!-- Email Textfield -->
                        <div class="card-body" style="background-color: #f6f5f5;">
                            <div class="form-group">
                                <label>Enter your new password</label>
                                <input class="form-control" type="text" id="new-pass" name="newPassword" required>
                            </div>
                            <div class="form-group">
                                <label>Re type new password</label>
                                <input class="form-control" type="text" id="retype-new-pass" name="retypePassword" required>
                            </div>
                        </div>
                        <!-- RESET PASSWORD btn -->
                        <div class="card-footer" style="background-color: #f6f5f5;">
                            <button class="btnSubmit" type="button">RESET PASSWORD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
