
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="container padding-bottom-3x mb-2">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                        <div class="card mt-4">
                            <div class="note">
                                <p>Forgot your password?</p>
                          </div>
                                 <!-- Email Textfield -->
                            <div class="card-body" style="background-color: #f6f5f5;">
                                <div class="form-group">
                                    <label for="email-for-pass">Enter your email address</label>
                                     <input class="form-control" type="text" id="email-for-pass" [(ngModel)]="senderEmail" name="senderEmail" required>
                                    <small class="form-text text-muted">Type in the email address you used when you registered. Then we'll email a code to this address.</small>
                                </div>
                            </div>
                                   <!-- RESET PASSWORD btn -->
                                <div class="card-footer" style="background-color: #f6f5f5;">
                                    <button class="btnSubmit" type="button" (click)="_forgetPassword()">RESET PASSWORD</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
