<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0 title">All Promotions</h3>


                    <div class="input-group input-group-alternative mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                        <input #searchElement [(ngModel)]="searchWord" class="form-control form-control-alternative"
                               placeholder="Search any promotion"
                               type="text">

                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Create Date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Promo Image</th>
                            <th scope="col">Like Count</th>
                            <th scope="col">View All Comments</th>
                            <th scope="col">Add New Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let promotion of promotions | paginate: config">
                            <th scope="row">
                                {{promotion['createDate'] | date}}
                            </th>

                            <td>
                                {{promotion['description']}}
                            </td>

                            <td>
                                {{promotion['heading']}}
                            </td>
                            <td>
                                <img class="product-image" [src]="promotion['image']" alt="">
                            </td>
                            <td>
                                <div class="like-button" (click)="onClickLike(promotion)">
                                    <div class="like-count-outer-div">
                                        <i [ngClass]="{'press' : promotion['isUserLiked'] === 1}"> </i>
                                        <div class="like-count-div">{{promotion['likeCount']}}</div>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <button class="btn btn-icon btn-3  btn-default" type="button"
                                        (click)="open(content,promotion['commentList'])">
                                    <span class="btn-inner--icon"><i class="ni ni-books"></i></span>
                                    <span class="btn-inner--text">View All Comments</span>
                                </button>

                            </td>


                            <td>
                                <button class="btn btn-icon btn-3 btn-success" type="button"
                                        (click)="openAddNewComment(addNewCommentModel,promotion)">
                                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                    <span class="btn-inner--text">Add New Comment</span>
                                </button>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">

                </div>
            </div>
        </div>
    </div>

</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">All Comments</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="card shadow">

                    <div class="no-comments" *ngIf="comments.length == 0">There are no comments yet</div>

                    <div class="table-responsive" *ngIf="comments.length > 0">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let comment of comments">

                                <th scope="row">
                                    {{comment['date'] | date}}
                                </th>

                                <th scope="row">
                                    {{comment['name']}}
                                </th>

                                <td>
                                    {{comment['comment']}}
                                </td>

                            </tr>

                            </tbody>

                        </table>

                    </div>
                    <div class="card-footer py-4">

                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #addNewCommentModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add New Comment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body p-top-0">
        <div class="row">
            <div class="col">
                <div class="card shadow">

                    <div class="form-group new-c-text-area">
                        <label>Enter your comment</label>

                        <textarea [(ngModel)]="comment"
                                  [maxlength]="maxChars" rows="4" class="form-control form-control-alternative"
                                  placeholder="Enter your comment here..."></textarea>

                        <label class="charter-re"> Characters remaining: {{comment.length}}/{{maxChars}}</label>

                        <button type="button" (click)="addNewComment()"
                                class="btn btn-default btn-lg btn-block add-comment-btn">Submit
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</ng-template>


<br>
<div class="products-pagination">
    <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
    <!--                    <pagination-controls (pageChange)="this.config.currentPage = $event"></pagination-controls>-->
</div>

