<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">My Orders</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">OrderId</th>
                            <th scope="col">Message</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of orders">
                            <th scope="row">
                                {{order['id']}}
                            </th>

                            <td>
                                {{order['message'] != null ? order['message'] : "No Message" }}
                            </td>
                            <td>
                                {{order['status']}}
                            </td>
                            <td>
                                {{order['total'] | currency}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" (click)="open(content,order['fkOrder'])">
                                    View Order Details
                                </button>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">

                </div>
            </div>
        </div>
    </div>

</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Product Id</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Thumbnail</th>
                                <th scope="col">Price</th>
                                <th scope="col">QTY</th>
                                <th scope="col">Sub Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let orderDetail of orderDetails">

                                <th scope="row">
                                    {{orderDetail['product']['id']}}
                                </th>

                                <th scope="row">
                                    {{orderDetail['product']['name']}}
                                </th>

                                <th scope="row">
                                    <img class="product-image" [src]="orderDetail['product']['thumbnail']" alt="">
                                </th>

                                <td>
                                    {{orderDetail['price']}}
                                </td>
                                <td>
                                    {{orderDetail['qty']}}
                                </td>
                                <td>
                                    {{orderDetail['subTotal'] | currency}}
                                </td>


                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">

                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>
