<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <alert></alert>
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card-columns">
                <div *ngFor="let products of product | paginate: config" class="card">
                    <div class="modal" id="myModal{{products.code}}">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header" style="padding: 0.5rem;">
                                    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-5"><img class="popup-image" src={{products.thumbnail}}>
                                        </div>
                                        <div class="col-7">
                                            <div class="product-Name-popup">{{products.name}}</div>
                                            <div class="product-price-popup">{{products.price}}</div>
                                            <div><span class="product-qty-popup">QTY</span>
                                                <input [(ngModel)]="quantity" type="number" value="1" min="1" max="1000"/></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <div class="button-set">
                                        <button type="button" (click)="_continueToShopping()" class="btn btn-outline-secondary">Continue Shopping
                                        </button>
                                        <button type="button" (click)="_addToCart(products.id,products.name,products.thumbnail,products.price)" class="btn btn-outline-danger">Add To Cart</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="product-img">
                        <img src={{products.thumbnail}} class="card-img-top"
                                                  alt="products images "></div>
                    <div class="card-body">
                        <h2 class="card-title">{{products.name}}</h2>
                        <h5 class="product-code">{{products.code}}</h5>
                        <h3 class="product-price">{{products.price}}</h3>
                        <button class="btn btn-outline-danger btn-lg" data-toggle="modal"
                                [attr.data-target]="'#myModal'+ products.code">
                            Add To Cart
                        </button>
                    </div>

                </div>
            </div>
            <div class="products-pagination">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>



