<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <h1 class="header-title">Customer Reviews</h1>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0 cart-page-card main-tf-background">
            <form class="margin-top-30">
                <div class="row">
                    <div class="col-md-12">
                        <label class="radio-inline"><input type="radio" name="optradio" checked>Anonimously</label>
                       </div>
                        <div class="col-md-12">
                            <label class="radio-inline">
                            <input type="radio" [(ngModel)]="customerType" (change)="onItemChange($event)" name="optradio">Already have account</label>
                        </div>
                    
                    <div class="col-md-12">
                        <label>Complain Type</label>
                        <div class="form-group">
                    <select class="form-control" name="complain-type" [(ngModel)]="complainType">
                        <option value="PRODUCT">PRODUCT</option>
                      </select>
                      </div>
                      </div>
                  <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea12">Complain</label>
                            <textarea [(ngModel)]="complainComment" name="complain_comment" class="form-control tf-background" id="exampleFormControlTextarea12" rows="3"
                                      placeholder="Write a complain here ..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" (click)="createComplain()" class="btn btn-outline-danger btn-lg">Send Your Review</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



