
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Register As New Customer</p>
        </div>

        <div class="form-content"  style="background-color: #f6f5f5;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="customerDetails.email" class="form-control" placeholder="Email *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="customerDetails.firstName" class="form-control" placeholder="Firstname *" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="customerDetails.lastName" class="form-control" placeholder="Lastname*" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="customerDetails.password" class="form-control" placeholder="Password *" value=""/>
                    </div>
                    <!-- <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone number *" value=""/>
                    </div> -->
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone number(whatsapp)*" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Delivery address *" value=""/>
                    </div>
                </div> -->
                
                    <!-- <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buyer address*" value=""/>
                    </div> -->
                    <!-- <div class="form-group">
                        <input type="text" [(ngModel)]="customerDetails.password" class="form-control" placeholder="Password *" value=""/>
                    </div> -->
               
            </div>
            <button type="button" (click)="_createCustomer()" class="btnSubmit">SUBMIT</button>
        </div>
    </div>
</div>
</div>
</div>
