/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

.ngx-pagination .current {
    background: #ee6322 !important;
}

.modal-content{
    width: max-content!important;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: max-content!important;
    }
}

